.wrapper{
  background-size: contain;
  width: 100%;
  height: 100%;
  padding: 0px 72px 30px 72px;
  padding-top: 20px;
  background: #EFEDEE;
  font-family: Poppins;
}
.wrapper input:focus-visible{
  outline: 2px solid #A6CBFA;
}
.wrapper textarea:focus-visible{
  outline: 2px solid #A6CBFA;
}
h2{
  margin-top: 0;
}
.inWrapper{
  display: flex;
  gap: 50px;
  width: 100%;
}
.inContain{
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 50px;
}
.prevForm{
  /* border: 2px solid blue; */
  /* height: 50%; */
  width: 100%;
}
.contain{
  display: flex;
  width: 100%;
  /* height: 50%; */
  gap: 20px;
  /* border: 2px solid red; */
}
.nxtForm{
  /* border: 2px solid purple; */
  width: 50%;
  height: 100%;
  /* padding: 60px; */
}
.uploadContainer{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imgUpload{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 40px; */
}
.imgUpload input{
 display: none;
}
.imgUploadBtn{
  margin-top: 40px;
  width: 100%;
  height: 50px;
  background-color: #A6CBFA;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.bio{
  width: 50%;
}
.bio h2{
  margin: 0;
  margin-bottom: 20px;
}
.formControl1{
  display: flex;
  justify-content: space-between;
}
.formControlgroup input{
  border: none;
}
.medicationInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.bio label{
 font-size: 18px;
}
.bioform{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formControl{
  display: flex;
  flex-direction: column;
  text-align: start;
}
.formControl input,textarea{
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.formControlgroup{
  width: 45%;
}
.formControlgroup input{
  height: 40px;
  padding-left: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.formControl textarea{
  font-size: 16px;
  height: 80px;
  border: none;
}
.createBtn{
  margin-top: 50px;   /*removelater */  
  width: 100%;
  background: #024DAD;
  border: 0;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
  height: 52px;
}
.formGroup{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width:500px)  {
  .inWrapper{
    flex-direction: column;
  }
  .contain{
    flex-direction: column;
  }
  .bio{
    width: 100%;
  }
  .wrapper{
    padding: 0 15px;
    padding-top: 15px;
  }
  .inContain{
    width: 100%;
  }
  .uploadContainer{
    width: 100%;
  }
  .nxtForm{
    width: 100%;
  }
}
