.wrapper{
  display: flex;
  gap: 5%;
}
.outercontain{
  width: 65%;
}
.contain{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.medReminder{
  width: 100%;
  height: 100px;
  padding: 16px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yearn{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.doctorsListContainer{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.doctorsList{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.medicationDetails{
  display: flex;
  flex-direction: column;
}
.deleteMedBtn{
  border: none;
  width: 73px;
  height: 28px;
  background-color: #A6CBFA;
  padding: 6px 16px;
  border-radius: 8px;
  color: #FFF;
}
.chartcontainer{
  width: 100%;
  height: 447px;
  background-color: #F4F9FF;
  border: 2px solid red;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .wrapper{
    flex-direction: column-reverse;
  }
  .outercontain{
    width: 100%;
  }
  .doctorsListContainer{
    width: 100%;
    flex-direction: column-reverse;
  }
  /* .yearn{
    width: 12%;
  } */
  .medReminder{
    gap: 30%;
    justify-content: initial;
  }
}