.wrapper{
  height: 100%;
  width: 211px;
  padding: 20px 0;
  display: flex;
  background: #fff;
  font-family: Poppins;
  flex-direction: column;
  height: calc(100vh - 72px);
  align-items: center;
  gap: 20px;
}
.wrapper button{
  width: 120px;
  height: 40px;
  background-color: #A6CBFA;
  color: #024DAD;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
} 
.barContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  font-size: 16px;
  font-weight: 400;
}
.linkedItem{
  text-decoration: none;
  color: #000;
}
.sidebarItem{
  display: flex;
  gap: 20px;
  padding: 12px 0;
  padding-left: 10px;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
}
.sidebarItem:hover{
  background-color: #024DAD;
}
.sidebarItem:focus-visible{
  background-color: #024DAD;
}
@media screen and (max-width: 500px) {
  .wrapper{
    display: none;
  }
}